## project specific
cuke-barcoding.tex
cuke-barcoding.pdf
tmp/
cache/
*~
.~lock*
.#*

## latex files
*.aux
*.log
*.blg

## hpc files
*.err
*.out
*.pbs

## local only to keep the repository clean
.Rhistory
toadd.csv
zzz_tmp-genbank/
zzz_compareWithGenbank/
zzz_external-data/
zzz_misc/
zzz_gps-coordinates-cleanup/